<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.spring.daos.second.BasicConfigModelMapper">
    <resultMap id="BaseResultMap" type="com.example.spring.pojo.BasicConfigModel">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="sub_id" jdbcType="INTEGER" property="subId" />
        <result column="mark" jdbcType="VARCHAR" property="mark" />
        <result column="mark_value" jdbcType="VARCHAR" property="markValue" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="GetFields">
        id,sub_id,mark,mark_value,create_time,update_time
    </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
            <include refid="GetFields"/>
        from basic_config;
    </select>

    <insert id="insert" parameterType="com.example.spring.pojo.BasicConfigModel">
        insert into basic_config
        <!--  prefix前缀  suffix后缀  suffixOverrides去除多余后缀    -->
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subId != null">
                sub_id,
            </if>
            <if test="mark != null">
                mark,
            </if>
            <if test="markValue != null">
                mark_value,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="subId != null">
                subId = #{subId,jdbcType=INTEGER}
            </if>
            <if test="mark != null">
                mark = #{mark,jdbcType=VARCHAR}
            </if>
            <if test="markValue != null != null">
                markValue = #{markValue,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
</mapper>